/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Fin du RESET */

/* Fonts */
@font-face {
  font-family: "Nunito Sans";
  src: url("fonts/nunito-sans/NunitoSans-Regular.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("fonts/nunito-sans/NunitoSans-ExtraLight.ttf") format("ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("fonts/nunito-sans/NunitoSans-Light.ttf") format("ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("fonts/nunito-sans/NunitoSans-Bold.ttf") format("ttf");
  font-weight: 700;
}


/* General */

body{
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

.hidden{
  font-size: 0;
}

/* Header */

  header {
    height: 140px;
    border-bottom: 1px #4F6C7A solid;
    box-shadow: 0 5px 3px #EEEEEE;
    nav {
      display: flex;
      height: 140px;
      a {
        color: #4F6C7A;
        text-decoration: none;
        font-weight: 100;
        font-size: 1.25em;
        padding: 25px;
        align-self: center;
        flex: 1 1 auto;
      }
      a:hover {
        font-weight: 400;
      }
      a#logo {
        padding: 20px;
      }
      form {
        align-self: center;
        flex: 1 1 auto;
        input {
          padding: 10px;
          outline: none;
          border: 1px #4F6C7A solid;
          border-radius: 30px;
          font-weight: 100;
          color: #4F6C7A;
        }
      }
    }
  }

@media (min-width: 720px) and (max-width: 1280px) {
  header{
    nav {
      a {
        font-size: 1.1em;
        padding: 25px 10px;
      }
      a#logo{
        padding: 20px;
      }
      img{
        width: 154px;
        height: 71px;
      }
      nav:first-child{
        flex: 0;
      }
    }
  }
}

@media (max-width: 720px) {
  header{
    height: 160px ;
      nav {
        flex-wrap: wrap;
          a{
            font-size: 1.5em;
            padding: 20px 10px;
            text-align: center;
          }
          a#logo{
            padding: 20px 5px;
          }
          img{
            width: 124px;
            height: 51px;
          }
          nav:first-child{
            flex: 0;
          }
          a:nth-child(3){
            display:none;
          }
      }
  }
}

/* Footer */

footer{
  width: 100%;
  //background-image: url("./assets/logo-footer.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #4F6C7A;
  div{
    width:30%;
    display: inline-block;
    margin: 50px 0;
    vertical-align: top;
    h2{
      color: #001a33;
      font-weight: bold;
    }
    h3{
      color: #001a33;
      font-weight: bold;
      margin-top: 30px;
    }
    li{
      color: #f0f0f0;
      font-weight: bold;
      font-size: 0.9em;
      margin: 8px 0;
    }
    a{
      text-decoration: none;
      color: #f0f0f0;
      width: 55%;
      padding: 10px 0;
      font-size: 1.3em;
      font-weight: bold;
      display: block;
    }
    a:hover{
      color: #001a33;
    }
    a.contact{
      color: white;
      border: 1px white solid;
      text-align: center;
      padding: 10px;
      width: 40%;
    }
    a.contact:hover{
      background-color: white;
      color: #001a33;
    }
    img{
      width: 15%;
      height: auto;
      padding: 5px;
    }
  }
  div:first-child{
    margin-left: 7%;
  }
}

@media (max-width: 1280px) {
  footer{
    div {
      width: 45%;
      margin: 30px auto;
    }
    div:last-of-type{
      width: 100%;
      margin: 0 auto;
      padding-bottom: 30px;
      display: block;
        nav{
          width: 100%;
          display: flex;
          a{
            flex: 1;
            text-align: center;
          }
        }
      }
    }
  }

@media (max-width: 720px) {
  footer{
    padding-top: 30px;
    font-size: 1.5em;
    div {
      width: 85%;
      margin: 30px auto;
      display: block;
      text-align: center;
      li{
        margin-top: 20px;
      }
      img{
        margin-top: 20px;
      }
      a.contact{
        width: 60%;
        margin: 0 auto;
      }
    }
    div:last-of-type{
      nav{
        width: 100%;
        display: block;
        a{
          display:block;
          width: 100%;
          margin: 0 auto;
          text-align: center;
        }
      }
    }
  }
}

/* Accueil - News */

  section.news {
    padding: 0 6%;
    margin: 80px auto;
    article {
      margin-bottom: 50px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      div.title {
        width: 100%;
        order: 1;
        h3 {
          font-weight: 700;
          font-size: 2em;
          color: #4F6C7A;
          margin-bottom: 20px;
        }
      }
      div.content {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        order: 2;
        p {
          line-height: 2em;
          font-size: 1.2em;
          font-weight: 400;
          color: #474747;
          margin-bottom: 40px;
          padding-right: 30px;
        }
        a {
          color: #4F6C7A;
          text-decoration: none;
          font-weight: 100;
          font-size: 1.5em;
          padding: 10px 25px;
          border: 1px #4F6C7A solid;
          border-radius: 50px;
          transition: 0.2s;
        }
        a:hover {
          color: white;
          background-color: #4F6C7A;
        }
      }
      div.image{
        order: 3;
        width: 49%;
        display: inline-block;
        img{
          width: 80%;
          position: relative;
          top: -50px;
        }
      }
    }
    div.slider {
      margin: 0 auto;
      width: 200px;
      img {
        width: 25px;
        height: 25px;
        margin: 0 5px;
        cursor: pointer;
        transition: 0.5s;
      }
    }
  }

@media (min-width: 720px) and (max-width: 1280px) {
  section.news {
    article {
      div.title{
        flex: 1;
      }
      div.image{
        order: 2;
        width: 100%;
        flex: 1;
        img{
          margin: 0 auto;
          display: block;
          top: 30px;
        }
      }
      div.content{
        order: 3;
        width: 100%;
        flex: 1;
      }
    }
  }
}

@media (max-width: 720px){
  section.news {
    article {
      div.title{
        flex: 1;
      }
      div.image{
        order: 2;
        width: 100%;
        flex: 1;
        img{
          margin: 0 auto;
          display: block;
          top: 30px;
        }
      }
      div.content{
        order: 3;
        width: 100%;
        flex: 1;
        a{
          margin: 0 auto;
          display: block;
          text-align: center;
          width: 50%;
        }
      }
    }
  }
}

/* Accueil - Presentation */

section.presentation {
  margin: 80px auto 120px;
  padding: 0 6%;
    div {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      padding-left: 30px;
      h2 {
        font-weight: 700;
        font-size: 2em;
        color: #4F6C7A;
        margin-bottom: 20px;
      }
      p {
        line-height: 2em;
        font-size: 1.2em;
        font-weight: 400;
        color: #474747;
        margin-bottom: 40px;
      }
      a {
        color: #4F6C7A;
        text-decoration: none;
        font-weight: 100;
        font-size: 1.5em;
        padding: 10px 25px;
        border: 1px #4F6C7A solid;
        border-radius: 50px;
        transition: 0.2s;
      }
      a:hover{
        color: white;
        background-color: #4F6C7A;
      }
    }
    img {
      width: 34.6%;
      padding-left: 7%;
      height: auto;
    }
  }

@media (min-width: 720px) and (max-width: 1280px) {
  section.presentation {
      img{
        width: 80%;
        bottom: 30px;
        position: relative;
      }
      div{
        order: 3;
        width: 100%;
        padding-left: 0;
      }
  }
}

@media (max-width: 720px){
  section.presentation {
    margin-bottom: 80px;
    img{
      width: 80%;
      bottom: 30px;
      position: relative;
    }
    div{
      order: 3;
      width: 100%;
      padding-left: 0;
      a{
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 50%;
      }
    }
  }
}

/* Comment ça marche - Description */

section.description {
  padding-left: 6%;
  margin: 80px 0;
  width: 43%;
  display: inline-block;
      h2 {
        font-weight: 700;
        font-size: 2em;
        color: #4F6C7A;
      }
      p {
        line-height: 2em;
        font-size: 1.2em;
        font-weight: 400;
        color: #474747;
        margin-bottom: 40px;
        padding-right: 30px;
      }
      img {
        width: 80%;
        height: auto;
        margin: 30px 0;
      }
  }

@media (max-width: 1280px) {
  section.description{
    width: 87%;
    padding: 0 6%;
    margin-bottom: 0;
    img{
      width: 100%;
      display: block;
      margin: 30px auto;
    }
  }
}
/* Comment ça marche - Navigation */

section.navigation {
  padding-right: 6%;
  margin: 80px 0;
  width: 43%;
  display: inline-block;
  vertical-align: top;
  h2 {
    font-weight: 700;
    font-size: 2em;
    color: #4F6C7A;
    margin-bottom: 30px;
  }
  div.grid {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 49% 49%;
    grid-template-rows: 49% 49%;
    div.categorie {
      display: grid;
      background-color: #4F6C7A;
      border-radius: 30px;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-items: center;
      cursor: pointer;
      a {
        text-decoration: none;
        text-align: center;
        color: white;
        font-size: 1.3em;
        font-weight: 700;
        width: 90%;
        align-self: end;
        margin-bottom: 20px;
      }
      img {
        width: 60%;
        margin-top: 10px;
        transition: 0.2s;
      }
    }
    div.categorie:hover{
        background-color: #2a9bd9;
    }
  }
}

@media (min-width: 720px) and (max-width: 1280px) {
  section.navigation{
    width: 87%;
    padding: 0 6%;
  }
}

@media (max-width: 720px){
  section.navigation {
    width: 87%;
    padding: 0 6%;
    div.grid {
      display: block;
      div.categorie{
        margin-bottom: 30px;
        min-height: 200px;
        img{
          width: 40%;
        }
        a{
          margin-top: 10px;
        }
      }
    }
  }
}

/* Comment ça marche - Informations */

section.informations{
  padding: 0 6%;
  display: inline-block;
  width: 88%;
  margin-bottom: 50px;
  h2{
    font-weight: 700;
    font-size: 2em;
    color: #4F6C7A;
  }
  h3{
    font-size: 1.5em;
    text-align: center;
    padding: 30px 0;
    color: #4F6C7A;
    font-weight: 700;
    width: 90%;
    margin: 0 auto;
  }
  p{
    line-height: 2em;
    font-size: 1.2em;
    font-weight: 400;
    color: #474747;
    margin-bottom: 40px;
  }
  div{
    width: 40%;
    display: inline-block;
    margin: 30px 0;
    vertical-align: top;
    background-color: #E5F0F5;
    border: 1px #4F6C7A solid;
    border-radius: 30px;
    li{
      text-align: center;
      border-top: 1px #4F6C7A dashed;
    }
    a{
      font-weight: 200;
      text-decoration: none;
      color: #4F6C7A;
      font-size: 1.2em;
      text-align: center;
      display: inline-block;
      padding: 25px 0;
    }
  }
  div:nth-child(2n){
    margin-right: 18%;
  }
}

@media (min-width: 720px) and (max-width: 1280px) {
  section.informations{
    width: 88%;
    padding: 0 6%;
    div{
      width: 48.3%;
    }
    div:nth-child(2n){
      margin-right: 1.65%;
    }
  }
}

@media (max-width: 720px) {
  section.informations{
    width: 88%;
    padding: 0 6%;
    div{
      width: 100%;
      display: block;
      h3{
        font-size: 1.8em;
      }
      a{
        font-size: 1.4em;
      }
    }
  }
}

/* Question - Question */

section.question {
  padding-left: 6%;
  margin: 40px 0;
  width: 43%;
  display: inline-block;
  h2 {
    font-weight: 700;
    font-size: 2em;
    color: #4F6C7A;
  }
  p {
    line-height: 2em;
    font-size: 1.2em;
    font-weight: 400;
    color: #474747;
    margin-bottom: 40px;
    padding-right: 30px;
  }
  img {
    width: 80%;
    height: auto;
    margin: 30px 0;
  }
  table {
    width: 100%;
    border: 2px #4F6C7A solid;
    font-size: 1.3em;
    th{
      background-color: #4F6C7A;
      color: white;
      padding: 10px;
      border: 2px #474747 solid;
    }
    td{
      padding: 12px;
      color: #474747;
      border: 1px #474747 solid;
    }
  }
}

@media (max-width: 1280px) {
  section.question {
    padding: 0 6%;
    margin: 40px 0;
    display: block;
    width: auto;
      img {
        width: 80%;
        height: auto;
        display: block;
        margin: 30px auto;
      }
  }
}

/* Question - Interet */

section.interest{
  margin-top: 80px;
  width: 47%;
  display: inline-block;
  vertical-align: top;
  div{
    width: 60%;
    display: inline-block;
    margin: 30px 0 30px 30%;
    vertical-align: top;
    background-color: #E5F0F5;
    border: 1px #4F6C7A solid;
    border-radius: 30px;
    h2{
      font-size: 1.5em;
      text-align: center;
      padding: 30px 0;
      color: #4F6C7A;
      font-weight: 700;
      width: 63%;
      margin: 0 auto;
    }
    li{
      text-align: center;
      border-top: 1px #4F6C7A dashed;
    }
    a{
      font-weight: 200;
      text-decoration: none;
      color: #4F6C7A;
      font-size: 1.2em;
      text-align: center;
      display: inline-block;
      padding: 25px 0;
    }
  }
}

@media (max-width: 1280px) {
  section.interest {
    margin: 0 6%;
    display: block;
    width: auto;
    div{
      width: 100%;
      margin: 0 0 50px 0;
    }
  }
}

/* Question - Arianne */

div.arianne{
  margin-top: 40px;
  margin-left: -14px;
  p {
    display: inline-block;
    padding: 10px 30px;
    margin: 0 1px;
    transform: skew(-30deg);
    background-color: #4F6C7A;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

@media (max-width: 1280px) {
  div.arianne{
    p {
      margin-bottom: 10px;
    }
  }
}


/* Evenements - Main-Article */

section.main-article{
  margin: 80px auto;
  padding: 0 6%;
  div {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
    h2 {
      font-weight: 700;
      font-size: 2em;
      color: #4F6C7A;
      margin-bottom: 10px;
    }
    p {
      line-height: 2em;
      font-size: 1.2em;
      font-weight: 400;
      color: #474747;
      margin-bottom: 40px;
    }
    p.small{
      font-size: 1em;
      font-weight: 100;
      margin-bottom: 10px;
    }
    a {
      color: #4F6C7A;
      text-decoration: none;
      font-weight: 100;
      font-size: 1.5em;
      padding: 10px 25px;
      border: 1px #4F6C7A solid;
      border-radius: 50px;
      transition: 0.2s;
    }
    a:hover{
      color: white;
      background-color: #4F6C7A;
    }
  }
  img {
    width: 34.6%;
    height: auto;
  }
}

@media (max-width: 1280px) {
  section.main-article{
    div {
      width: 100%
    }
    img{
      width: 80%;
      display: block;
      margin-bottom: 20px;
    }
  }
}

/* Evenements - Articles-Secondaires */

section.secondary-article{
  margin: 80px auto;
  padding: 0 6%;
  div {
    width: 46%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 50px;
    h2 {
      font-weight: 700;
      font-size: 2em;
      color: #4F6C7A;
      margin-bottom: 10px;
    }
    h3{
      font-weight: 700;
      font-size: 1.5em;
      color: #4F6C7A;
      margin-bottom: 10px;
    }
    p {
      line-height: 1.6em;
      font-size: 1em;
      font-weight: 400;
      color: #474747;
      margin-bottom: 40px;
    }
    p.small{
      font-size: 1em;
      font-weight: 100;
      margin-bottom: 10px;
    }
    a {
      color: #4F6C7A;
      text-decoration: none;
      font-weight: 100;
      font-size: 1.2em;
      padding: 6px 15px;
      border: 1px #4F6C7A solid;
      border-radius: 50px;
      transition: 0.2s;
    }
    a:hover{
      color: white;
      background-color: #4F6C7A;
    }
  }
  img {
    width: 43.6%;
    height: auto;
    padding-right: 15px;
  }
}

@media (max-width: 1280px) {
  section.secondary-article{
    margin: 80px auto;
    padding: 0 6%;
    div {
      width: 100%;
      display: inline-block;
      vertical-align: top;
      padding-left: 30px;
      div{
        padding-left: 0;
      }
      h2 {
        display: none;
      }
      h3{
        font-weight: 700;
        font-size: 2em;
        color: #4F6C7A;
        margin-bottom: 10px;
      }
      p {
        line-height: 2em;
        font-size: 1.2em;
        font-weight: 400;
        color: #474747;
        margin-bottom: 40px;
      }
      p.small{
        font-size: 1em;
        font-weight: 100;
        margin-bottom: 10px;
      }
      a {
        color: #4F6C7A;
        text-decoration: none;
        font-weight: 100;
        font-size: 1.5em;
        padding: 10px 25px;
        border: 1px #4F6C7A solid;
        border-radius: 50px;
        transition: 0.2s;
      }
      a:hover{
        color: white;
        background-color: #4F6C7A;
      }
    }
    img {
      width: 80%;
      display: block;
      margin-bottom: 20px;
      padding-right: 0;
    }
  }
}

/* Article - Interets */

section.articles {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  padding-left: 6.5%;
  h2 {
    font-size: 1.5em;
    text-align: center;
    padding: 30px 0;
    color: #4F6C7A;
    font-weight: 700;
    width: 100%;
    margin: 0 auto;
  }
  div {
    width: 100%;
    display: inline-block;
    padding-bottom: 30px;
    margin: 30px 0;
    vertical-align: top;
    background-color: #E5F0F5;
    border: 1px #4F6C7A solid;
    border-radius: 30px;
      h3{
        font-size: 1.3em;
        text-align: center;
        color: #4F6C7A;
        font-weight: 700;
        width: 100%;
        border-bottom: 1px #4F6C7A dashed;
        padding: 20px 0;
      }
      p{
        font-weight: 200;
        text-decoration: none;
        color: #4F6C7A;
        font-size: 1.2em;
        line-height: 1.3em;
        text-align: center;
        display: inline-block;
        padding: 25px 10px;
        border-top: 1px #4F6C7A dashed;
      }
      img{
        display: block;
        margin: 20px auto;
        width: 80%;
      }
      a{
        color: #4F6C7A;
        text-decoration: none;
        font-weight: 100;
        font-size: 1.5em;
        padding: 10px 25px;
        border: 1px #4F6C7A solid;
        border-radius: 50px;
        transition: 0.2s;
        display: block;
        width: 50%;
        margin: 0 auto;
        text-align: center;
      }
      a:hover{
        color: white;
        background-color: #4F6C7A;
      }
  }
}

@media (max-width: 1280px) {
  section.articles {
    display: block;
    padding: 0 6.5%;
    width: 86%;
  }
}
/* FAQ - Idées reçues */

section.idees{
  padding: 0 7%;
  div{
    width: 50%;
    margin-top: 40px;
  }
  div:nth-child(2n+1){
    margin-left: auto;
  }
  p.number{
    font-size: 3em;
    text-align: center;
    color: #4F6C7A;
    margin-bottom: 15px;
  }
  h3{
    font-size: 1.8em;
    color: #4F6C7A;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
  }
  p{
    font-size: 1.1em;
    color: #474747;
    text-align: center;
    line-height: 1.5em;
  }
  a{
    color: #4F6C7A;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.5em;
    padding: 20px 25px;
    border: 1px #4F6C7A solid;
    border-radius: 50px;
    transition: 0.2s;
    margin: 60px auto;
    display: block;
    width: 40%;
    text-align: center;
  }
  a:hover{
    color: white;
    background-color: #4F6C7A;
  }
}

@media (min-width: 720px) and (max-width: 1280px) {
  section.idees {
    div {
      width: 75%;
    }
  }
}

@media (max-width: 720px) {
  section.idees {
    div {
      width: 100%;
      display: block;
      margin: 20px auto;
    }
    div:nth-child(2n+1) {
      margin: 0 auto;
    }
    a{
      width: 80%;
    }
    h3{
      font-size: 2em;
    }
    p{
      font-size: 1.3em;
    }
  }
}

/* Contact - Formulaire */

section.formulaire{
  margin: 80px 0;
  padding: 0 6%;
  width: 45%;
  display: inline-block;
  h2 {
    font-size: 1.5em;
    padding: 30px 0;
    color: #4F6C7A;
    font-weight: 700;
    width: 100%;
  }
  label{
    color: #4F6C7A;
    font-size: 1.2em;
    font-weight: 700;
    display: inline-block;
    width: 90%;
    padding: 10px 5px;
  }
  input{
    border: 1px solid #4F6C7A;
    border-radius: 25px;
    outline: none;
    width: 48%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
    color: #4F6C7A;
  }
  input[type=text]:focus{
    box-shadow: 0 0 2px 1px #4F6C7A;
  }
  textarea{
    resize: none;
    width: 64%;
    min-height: 140px;
    outline: none;
    border: 1px solid #4F6C7A;
    border-radius: 15px;
    padding: 10px;
    font-size: 1em;
    color: #4F6C7A;
  }
  textarea:focus{
    box-shadow: 0 0 2px 1px #4F6C7A;
  }
  input[type=submit]{
    color: #4F6C7A;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.5em;
    padding: 10px 15px;
    border: 1px #4F6C7A solid;
    border-radius: 50px;
    transition: 0.2s;
    display: block;
    text-align: center;
    margin-top: 30px;
    background-color: white;
  }
  input[type=submit]:hover{
    color: white;
    background-color: #4F6C7A;
    cursor: pointer;
  }
}

@media (min-width: 720px) and (max-width: 1280px) {
  section.formulaire {
    width: 60%;
    margin-bottom: 20px;
    input{
      width: 50%;
    }
    textarea{
      width: 90%;
    }
  }
}

@media (max-width: 720px){
  section.formulaire{
    display: block;
    padding: 0 6%;
    width: 88%;
    input{
      width: 96%;
    }
    textarea{
      width: 96%;
    }
    input[type=submit]{
      width: 80%;
      margin: 30px auto;
    }
  }

}

/* Contact - Information de contact */

aside.contact{
  margin: 160px 3%;
  padding: 60px 3%;
  width: 30%;
  display: inline-block;
  vertical-align: top;
  background-color: #E5F0F5;
  border: 1px #4F6C7A solid;
  border-radius: 30px;
  h3{
    font-size: 1.5em;
    padding: 10px 0 30px;
    color: #4F6C7A;
    font-weight: 700;
    width: 100%;
    text-align: center;
  }
  p{
    font-size: 1.3em;
    color: #4F6C7A;
    font-weight: 400;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  li{
    font-size: 1.2em;
    color: #4F6C7A;
    padding-top: 10px;
    font-weight: 400;
    width: 100%;
    text-align: center;
  }
  li.light{
    font-weight: 100;
  }
}

@media (min-width: 720px) and (max-width: 1280px) {
  aside.contact {
    width: 50%;
    display: block;
    margin: 0 auto 60px 6%;
  }
}

@media (max-width: 720px) {
  aside.contact {
    width: 82%;
    display: block;
    margin: 0 auto 50px;
  }
}